In [2]:
# 리스트 생성
list1 = [1,2,3,4,5]

In [3]:
# 리스트의 주소값 확인
id(list1)

2856441537408

In [4]:
# 리스트에 값 추가
list1.append(6)

In [5]:
# 리스트의 주소값 확인
id(list1)

2856441537408

In [6]:
# 리스트에 새로운 값 할당
list1 = [1,2,3,4]
id(list1)

2856441576896

In [9]:
# list2.append(5)
list2.append(6)

In [7]:
list2 = list1
id(list2)

2856441576896

In [10]:
print("list1 : ",list1)
print("list2 : ",list2)

list1 :  [1, 2, 3, 4, 5, 6]
list2 :  [1, 2, 3, 4, 5, 6]

In [11]:
# 다른주소로 값만 가져오기
# .copy : 값만 가져오는 기능
list3 = list1.copy()
id(list3)

2856441584064

### 리스트

In [ ]:
# remove, insert, pop, append, count, len, sort, 인덱싱, 슬라이싱, index ... 
# 인덱싱, 슬라이싱
# append
# remove

In [ ]:
# 1 ~ 50까지가 담긴 리스트 생성하기
# 반복문사용

# 비어있는 리스트 생성(1부터 50까지 담을 용도)

# 리스트에 값 추가

In [2]:
list1 = []
for i in range(1,51,1):
    list1.append(i)
    
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [1]:
aa=list(range(1,51,1))
print(aa)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [25]:
for i in range(7,1,-1):
    for j in range(i,1,-1):
        print('*', end = "")
    print("")

******
*****
****
***
**
*

In [ ]:
# 인덱싱 슬라이싱
# 대괄호 []
# 10 출력하기
# 15 ~ 25 출력하기

In [36]:
print(aa[9:10])
print(aa[9])
print(aa[14:25])

[10]
10
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [37]:
# print : 원하는 위치에서 출력 가능 : 실행
# 변수명출력 : 마지막위치에서만 출력 가능 : 출력

In [40]:
# \n : 개행
str1 = "asdf\nasdf"
print(str1)
str1

asdf
asdf

'asdf\nasdf'

### 딕셔너리
- key, value로 이루어짐

In [ ]:
#dic_team 변수명을 사용해서 딕셔너리 만들기
# 이름 나이 key값 사용
# 팀원들의 정보

In [55]:
dic_team={'이름':['이승훈','양승호','이동윤','한국인','박건하'], '나이':['25','27','29','29','26']}
dic_team

{'이름': ['이승훈', '양승호', '이동윤', '한국인', '박건하'],
 '나이': ['25', '27', '29', '29', '26']}